<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>UrbanFabric</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<meta name="viewport" content="initial-scale=0.5, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light' rel='stylesheet' type='text/css'/>
<script src="/static/jquery.js" type="text/javascript"> </script>
<script src="/static/bnhash.js" type="text/javascript"> </script>
<script src="/static/jquery-ui.js" type="text/javascript"> </script>
<script src="/static/jqforms.js" type="text/javascript"> </script>
<script src="/static/jqcookie.js" type="text/javascript"> </script>
<script src="/static/json2.js" type="text/javascript"> </script>
<script src="/static/jqgritter.js" type="text/javascript"> </script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<style type="text/css">
@import url("/static/jquery-ui.css");
@import url("/static/gritter.css");
body {
	margin: 0 0 0 0;
	background-color: transparent;
}
#ufmap {
	top:0;
	right:0;
	position:absolute;
}
#header: {
 top:0px;
 width:100%;
 height:150px;
}
#header-decoration {
	z-index:1000;
	width:100%;
	position:absolute;
	top:75px;
	height:25px;
	left:0;
	background-color:orange;
}
#header-img {
	z-index:1100;
	width:150px;
	height:150px;
	top:5px;
	left:5px;
	position:absolute;
	background-repeat: no-repeat;
	background-image:url('/static/imgs/UF_flat.png');
	background-size:150px 150px;
}
#header-text {
	z-index:1100;
	left:180px;
	top:39px;
	position:absolute;
	font-size:60px;
	font-family:'Josefin Sans Std Light', Calibri, Verdana, Helvetica, sans-serif;
	text-shadow:2px 2px 8px #000;
}
#header-menu {
	z-index:1100;
	right:0px;
	top:78px;
	width:140 px;
	height:50px;
	position:absolute;
}
#left-container {
	background-color:ffb;
	left:0px;
	position:absolute;
	top:0px;
	width:500px;
	z-index:990;
	-webkit-box-shadow: 3px 0px 2px #888;
	box-shadow: 3px 0px 2px #888;
}
#content {
	top:170px;
	left:15px;
	position:absolute;
	width:470px;
	background-color:white;
	overflow:auto;
}
#header-menu {
	font-family:'Josefin Sans Std Light', Calibri, Verdana, Helvetica, sans-serif;
}
.menu-item {
	display:inline-block;
	width:24px;
	height:24px;
}
#menu-login {
	background-image:url('/static/icons/user.png');
}
#menu-position {
	background-image:url('/static/icons/where.png');
}
#menu-add-venue {
	background-image:url('/static/icons/add.png');
}
#menu-add-venue-group {
	background-image:url('/static/icons/add.png');
}
.noshow {
	text-decoration:none;
	color:#000;
}
</style>
</head>
<body>
<div id="ufmap"></div>
<div id="header">
        <div id="header-decoration"></div>
        <div id="header-img"></div>
        <div id="header-text"><a class="noshow" href="/">UrbanFabric</a><span id="collection-name"></span></div>
        <div id="header-menu">
                <div id="menu-login" class="menu-item" title="Login"></div>
                <div id="menu-position" class="menu-item" title="Where am i?"> </div>
                <div id="menu-add-venue" class="loggedin menu-item" title="Add Venue"> </div>
                <div id="menu-add-venue-group" class="loggedin menu-item" title="Add Venue Collection"> </div>
        </div>
</div>
<div id="left-container">
        <div id="content"> <span class="text"> </span> </div>
</div>
<div id="searchbox"></div>
<div id="popup">
        <div id="lilo-tabs">
                <ul>
                        <li id="get_login"><a href="/forms/login/user">Login</a></li>
                        <li id="get_signup"><a href="/forms/add/user">Sign up</a></li>
                </ul>
        </div>
</div>
<script>



resize = function (sidebar) {
	var diff = 0;
	if (sidebar)
		diff = $('#left-container').width();
	$('#ufmap').width($(window).width()-diff);
    	$('#ufmap').height($(window).height());
    	$('#left-container').height($(window).height());
	$('#content').height($(window).height()-180);
	$('#ufmap').css('left', diff)
}

refreshmap = function(collection){
	var default_mapstyle = [
	{
		featureType: "transit",
    		elementType: "all",
    		stylers: [
      			{ saturation: 98 },
      			{ hue: "#ff8c00" }
    		]
  	},{
    		featureType: "road",
    		elementType: "all",
    		stylers: [
      			{ hue: "#ff8c00" }
    		]
  	},{
    		featureType: "landscape.man_made",
    		elementType: "all",
    		stylers: [
      			{ saturation: 99 },
      			{ hue: "#ff8c00 " },
      			{ lightness: 1 },
      			{ visibility: "simplified" }
    		]
  	},{
    		featureType: "poi.business",
    		elementType: "all",
    		stylers: [
      			{ saturation: 0 },
      			{ lightness: 28 }
    		]
  	},{
    		featureType: "all",
    		elementType: "all",
    		stylers: [
      			{ saturation: 100 },
      			{ lightness: 10 },
      			{ gamma: 0.94 }
    		]
  	}];
	
	console.debug(collection);
	if(collection){
		$.getJSON('collection/'+collection+'/mapstyle', function(data){
			run_refresh(data);
		});
		}
	else 
		run_refresh(default_mapstyle);
	}
	
run_refresh = function(mapstyle){
	console.debug(mapstyle);
    	var myOptions = {
		zoom:16,
		mapTypeControlOptions: {
       			mapTypeIds: [google.maps.MapTypeId.SATELLITE, google.maps.MapTypeId.HYBRID, 'UF']
    		},
		mapTypeControl:true,
		mapTypeControlOptions: {
			style:google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
			position:google.maps.ControlPosition.TOP
        	},
		navigationControl:true,
		navigationControlOptions: {
			style:google.maps.NavigationControlStyle.SMALL,
			position:google.maps.ControlPosition.BOTTOM
        	},
    	};
	
    	jQuery.ufmap = new google.maps.Map(document.getElementById("ufmap"), myOptions);
	
	jQuery.styledMapOptions = {
		name: "UF"
	}

	var jayzMapType = new google.maps.StyledMapType(mapstyle, jQuery.styledMapOptions);

	jQuery.ufmap.mapTypes.set('UF', jayzMapType);
	jQuery.ufmap.setMapTypeId('UF');
	
	
	
	}

change_hash = function(hash){
	if  (hash == undefined || hash == "") {
		$('#left-container').show();
		jQuery.sidebar = true;
		resize(	jQuery.sidebar);
		refreshmap();
		console.debug($('#header-img'));
		$('#header-image').css('background-image', "url('"+jQuery.logo_default+"')");
	} else{
		$('#left-container').hide();
		jQuery.sidebar = false;
		resize(	jQuery.sidebar);
		list 	= hash.split("/");
		count = list.length;
		if (count >0){
			var collection = list[0];
			if (jQuery.old_collection != collection){
				jQuery.old_collection = collection;
				var collection_url = '/collection/'+collection+"/";
				$.getJSON(collection_url, function(data){
					$('#collection-name').text(": " + data[0].fields.name);
					$('#header-img').css('background-image', "url('/static/uploads/"+data[0].fields.icon+"')");
				});
				$.getJSON(collection_url+"contents", function(data){
					for (el in data){
						render_marker(data[el]);
					}
				});
			}
			refreshmap(collection);
		}
		if (count >1)
		var item = list[1];
		//get item data and display 
	}
	
}
jQuery.association={}

render_marker = function(element){
	var myLatLng = new google.maps.LatLng(element.latitude, element.longitude);
	var marker = new google.maps.Marker({
      		position: myLatLng, 
      		map: jQuery.ufmap, 
      		title:"Hello World!"
  	});   
	marker.setClickable(true);
	jQuery.association[marker] = element;
}

jQuery.ufmap = null;
jQuery.mylocation = null;
localize = function(position) {
	initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
	if (jQuery.mylocation == null){
    		jQuery.ufmap.setCenter(initialLocation);
	}
	jQuery.mylocation = initialLocation;
}

jQuery.logo_default = '/static/imgs/UF_flat.png';

render_stuff = function(container){
	
	var page = "<ul>@@row@@</ul>";
	
	var row = "<li>@@name@@<ul>@@ctt@@</ul></li>@@row@@";
	
	var template = "<a href='#@@url@@'>@@name@@</a>";
	
	page = page.replace('@@row@@', row);
	page = page.replace('@@name@@', 'Tags');
	$.getJSON('/show/tags/', function(data){
		for (el in data){
			it = data[el];
			render('tag', it, template);
		}
	});
	$.getJSON('/show/collections/', function(data){
		for (el in data){
			it = data[el];
			render('collection', it);
		}
	});
	$.getJSON('/show/prods/', function(data){
		for (el in data){
			it = data[el];
			render('prod', it);
		}
	});
	
	page = page.replace('@@row@@', '');
	
}


render = function(type, element, template){
	
	switch (type){
		
		/*
		
		
		{
			"pk": 1, 
			"model": "urban.classification", 
			"fields": {
				"suggested_products": [2], 
				"public_service": false, 
				"parent": null, 
				"abstract": false, 
				"commercial": true, 
				"icon": "img/class/icon.png", 
				"slug": "pub", 
				"name": "Pub"
			}
		}
		
		*/
		case "tag":{
			template = template.replace('@@name@@', tupe['fields']['name']);
			return template;
			}
		
		case "collection":{}
		/*
		{
			"pk": 1, 
			"model": "urban.production", 
			"fields": {
				"slug": "drinks", 
				"name": "Drinks", 
				"parent": null, 
				"icon": "img/prods/foursquare.jpg"
				}
		}
		*/
		
		
		case "prod":{}
		default: {}
	}
}
sendpos = function(){
	data = {
		'point':JSON.stringify(jQuery.mylocation),
		'time':JSON.stringify(new Date())
		}
	$.post('/messages', data, function(dats){	
		eval("var dt=" + dats + ";");
		$.gritter.add({
			// (string | mandatory) the heading of the notification
			title: dt['name'],
			// (string | mandatory) the text inside the notification
			text: dt['text']
		});
	});
}

get_area = function(){
	$.getJSON('/area/',
	{
		
		'sw':JSON.stringify(jQuery.ufmap.getBounds().getSouthWest()),
		'ne':JSON.stringify(jQuery.ufmap.getBounds().getNorthEast()),
	}, function(data){
		for (el in data){
						render_marker(data[el]);
					}
	});
}

$(function() {
	
	
	$("#menu-login").click(function(e) {
		e.preventDefault();
                $("fieldset#signin_menu").toggle();
                $("menu-login").toggleClass("menu-open");
	});
	
	refreshmap();
	$('#popup').hide();
	$('#left-container').hide();
	jQuery.sidebar = false;
	resize(	jQuery.sidebar);
	change_hash(window.location.hash.split('#')[1]);
	$(window).resize(function(){resize(jQuery.sidebar)});
    	
	if (navigator.geolocation) {
        	jQuery.watcher = navigator.geolocation.watchPosition(localize, handleNoGeolocation);
	} else {
        	handleNoGeolocation();
    	}

    	function handleNoGeolocation() {

    	}
	jQuery.old_collection = "";
	 $( window.location ).bind("change",
		function(e, d){
		change_hash(d.currentHash);
	});
	$('#menu-position').click(function(){
		jQuery.ufmap.panTo(jQuery.mylocation);	
	});
	$('#lilo-tabs').tabs();
	$('#menu-login').click(function(){
		$('#popup').dialog({
			title:'Login/Sign Up',
			'modal':true,
			draggable:false
		});
	});
	 render_stuff($('#content'));
	
	
	
	$('form').live('submit', function(){
		$(this).ajaxSubmit({
			success:function(){
				$('#popup').dialog('close');
				$.cookie('li', "1");
			}
		});
		return false;
	});
	setInterval(function(){sendpos();}, 5000);
	setTimeout(function(){get_area();}, 1000);
});
</script>
</body>
</html>
